.sidenav {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:;
    overflow-x: hidden;
    /*padding-top: 20px;*/
    border: 3px solid black;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #a9c0e5;
    display: block;

}

.sidenav a:hover {
    color: #f1f1f1;
    border:3px solid black;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.inner-resources-div{
    border: 2px solid black;
    font-family: monospace;
     width: 100%;
    margin-top: 1px;
    background-color: #a9c0e5;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
h2{
    font-family: monospace;
    font-size: 25px;
    width: 65%;

}
.sidebar-data{
  padding: 3px;
  font-size: 27px;
  margin: 3px;
  text-align: center;
}
